
  <h1>
   {{ title }}!
  </h1>
<br>
<!--componente-->
<app-task-list></app-task-list>
<br/>
<!--pipes: apresentação e formatação de dados-->
{{ user | json }}
<br/>
{{ upperText | uppercase }}
<br/>
{{ lowerText | lowercase }} 
<br/>
{{ data | date :'dd/MM/yyyy' }}
<br/>
{{ percent | percent:digitInfo }}
<br/>
{{ currency | currency }}
<br/>
<!--diretivas-->
<div *ngIf="isAdmin">
  admin

</div>

<div [ngSwitch]="profile">
<p *ngSwitchCase="2">
Dois
</p>
<p *ngSwitchCase="1">
Um
</p>
<p *ngSwitchDefault>
Zero
</p>
</div>
<br/>
<!--validação de formulário-->
<form action="" #form="ngForm">
  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" [(ngModel)]="name" #nameVerifica="ngModel" required>  
    <span *ngIf="nameVerifica.invalid">name é obrigatório</span>
  </div>
  <br/>
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" [(ngModel)]="email" #emailVerifica="ngModel" email>    
    <span *ngIf="emailVerifica.invalid">email válido</span>
  </div>
  <br/>
  <button type="submit" [disabled]="!form.valid">Enviar</button>
</form>


<app-comments></app-comments>

